.headerContainer {
  background: var(--white);
  height: 4.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;
  max-width: 1920px;
  min-width: 720px;
  border-bottom: 1px solid var(--gray-100);

  h2 {
    margin-left: 2rem;

    padding: 0.25rem 0 0.25rem 2rem;

    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }



}

@media (max-width: 768px){
  .headerContainer {
    span {
      display: hidden;
    }
  }
}