.headerContainer {
  background: var(--gray-200);
  height: 2.5rem;

  display: flex;
  align-items: center;
  position: absolute;
  bottom:0;
  padding: 2rem 4rem;
  width: 100vw;
  border-bottom: 1px solid var(--gray-200);

  span {
    margin-left: auto;
    text-transform: capitalize;
    color: var(--white);
  }

}

@media (max-width: 768px){
  .headerContainer {
    span {
      display: hidden;
    }
  }
}